<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Add Dynamic Content</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
  

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-controller="CtrlCtrl">
    <p ng-click="addGrid()">Add grid</p>

    <select ng-model="columns">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>

  <div ng-controller="GridCtrl">
    <ul>
      <li ng-repeat="grid in grids">
        <h4>{{grid.id}}</h4>
        <div ng-include src="'modules/grid/grid-' + grid.columns + '.html'"></div>
      </li>
    </ul>
  </div>

  <script src="bower_components/lodash/lodash.min.js"></script>
  <script src="bower_components/faker/faker.download.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
  <script src="modules/ctrl/ctrl.js"></script>
  <script src="modules/ctrl/ctrl.controller.js"></script>
  <script src="modules/grid/grid.js"></script>
  <script src="modules/grid/grid.layout.service.js"></script>
  <script src="modules/grid/grid.data.service.js"></script>
  <script src="modules/grid/grid.controller.js"></script>
</body>
</html>
